{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}

<div id='map' style="height: 500px;"></div>


<script>
    var map = L.map('map').setView([51.505, -0.09], 2);
    // add an OpenStreetMap tile layer
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    $(document).on('click', '#add', function() {
        $.getJSON('{{=URL('default', 'get_geojson')}}', function( data ) { 
            L.geoJson(data, {
                onEachFeature: onEachFeature}).addTo(map); 
        });
    });
    
    function onEachFeature (feature, layer) {
        var popupContent;
        if (feature.properties && feature.properties.popupContent) {
            popupContent = feature.properties.popupContent;
        }

        layer.bindPopup(popupContent);
    }
</script>


{{block right_sidebar}}
    <button id='add'>Add geojson</button>
{{pass}}
